:root {
    --color-primary-light: #fff9e8;
    --color-secondary-pink: #fcf1fd;
    --color-natural: hsl(112, 100%, 97%);
    --color-luxury: #e9cf7f;
    font-family: "Global_Font";
    transition: all 0.3s;
}
@font-face {
  font-family: "Luxury_Font";
  src: url("../ressources/KhatijaCalligraphy.ttf") ;
}
@font-face {
  font-family: "Global_Font";
  src: url("../ressources/NOIR_Font/Noir_regular.otf") ;
}
.section-card::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
.section-card::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}
.section-card::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.205);
    border: 31px none #ffffff;
    border-radius: 5px;
    height: 10px;
}
.section-card::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}
.section-card::-webkit-scrollbar-thumb:active {
    background: #a3a3a3;
}
.section-card::-webkit-scrollbar-track {
    background: var(--LightBlue);
    border: 5px solid var(--LightBlue);
}
.section-card::-webkit-scrollbar-track:hover {
    background: var(--LightBlue);
}
.section-card::-webkit-scrollbar-track:active {
    background: var(--LightBlue);
}
.section-card::-webkit-scrollbar-corner {
    background: transparent;
}


body{
    overflow: hidden;
}


#manucure{
    border-bottom: solid var(--color-luxury) 3px;
}

.onglets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .5em;
    margin-bottom: 2em;
    width: 50em;
    overflow: hidden;
    transition: 0.3s;
    

}
.onglets button{
    margin-top: 1em;
    padding: 1em;
    width: 12em;
    margin: .5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178);
    transition: 0.3s;
   
    

}
.onglets button:hover{
    transform: translate(-2.5px, -5px);
    box-shadow: 8px 8px 10px 0px rgba(128, 128, 128, 0.356);
    background-color: #f8e6af;

}
.selection{
    background-color:#f8e6af;
}
.white{
    background-color: white;
}

.section-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    height: 100%;
    padding-top: 2em;
    overflow: scroll;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.356);
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 23em;
    height: 18em;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
    margin: 1.5em 2em 1.5em 2em;
    transition: 0.3s;
    overflow: hidden;

}

.card:hover{
    transform: translate(0px, -7px);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.37);
}


h2{
    font-size: 12px;
    margin-block-start: unset;
    margin-block-end: unset;
    text-align: center;
    align-items: center;
    margin-top: 1em;
    padding: 0em 1em 0em;
}

.info p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.548);
    margin-block-start: unset;
    margin-block-end: unset;
    font-size: 12px;
    margin-top: 1em;
}
p.prix{
    color: var(--color-luxury) ;
    margin-top: .2em;
    font-size: 18px;
    margin-bottom: .2em;
}

.info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    
}

.card div{
    display: flex;
    flex-wrap: wrap;
    
}
img{
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.img{
    display: flex;
    height: 50%;
}
.soin .img{
    height: 6em;
    overflow: hidden;
}
.soin img{
    transform: translate(0em,-2em);
    height: 10em;
}

section{
    display: flex;
    
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 35em;
    
    
}

@keyframes changeColor{
    from{
        background-color: none;
    }
    50%{
        background-color: rgba(0, 0, 0, 0.000);
    }
    70%{
        background-color: rgba(0, 0, 0, 0.608);
    }
    to{
        background-color: rgba(0, 0, 0, 0.608);
    }


}
header{
    z-index: 5;
}
.changeColor{
    animation-name: changeColor;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
}
.article{
    display: flex;
    position: absolute;
    justify-content: center;
    
    z-index: 999;
    width: 100%;
    height: 100%;
    transform: translate(200em,0em);
    transition: 0.8s;
    
}

.article-card{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 70%;
    height: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.171);
    padding: 2em;
    margin-top: 3em;
}

.article-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: solid rgba(0, 0, 0, 0.205) 1px;
   
}
.article-img img{
    width: 20em;
    height: 13em;
    overflow: hidden;
}
.article-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 59%;
    height: 100%;
    
}
.article-info p{
    width: 100%;

}
.article-info h2{
    font-size: 18px;
    margin: unset;
    width: 70%;
}
mark{
    background-color: unset;
    color: grey;
    padding: 0em 2em 0em 2em;
}
#buy{
    display: flex;
    align-items: center;
    background-color: var(--color-luxury);
    padding: 0.3em 1em 0.3em 1em;
    margin-top: 1em;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.349);
    border: none;
    border-radius: 0.3;
    color: white;
}
#buy:hover{
    background-color: #ebdcad;
}
.X{
    display: flex;
    justify-content: flex-end;
    padding: 0.3em 1em 0.3em 1em;

}
.X:hover{
    background-color: rgba(128, 128, 128, 0.212);
}



@media screen and (max-width: 1050px){
    
    .onglets{
        width: 40em;
    }
}


@media screen and (max-width: 800px){


    
    .section-card {
       align-items: unset;
        width: 100%;
        height: 38em;
        padding: 2em 0em 2em 0em;
    
    }
    .section-card .card{
        margin: 0.6em;
      
    }
    .section-card h2{
        margin-top: 1em;
    }
    
    section{
        height: 40em;
    
        width: 100%;

    }
    
    
    .onglets{
        width: 100%;
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width: 540px){
    
    
    body{
        align-items: unset;
        height: 40em;
    }
    .section-card{
        height: 20em;
    }
    .soin .img img{
        height: 8em; 
          
    }

    .soin .img{
        height: 50%;
    
    }
    .article{
        display: none;
    }
    .section-card{
        transform: translate(0em, 2em);
        height: 37em;
        
    }
    .onglets{
        width: 40em;
    }
    .onglets button{
        font-size: 12px;
    }
    .card{
        width: 10em;
        height: 10em;
        
    }
    
    .info p{
        margin-top: unset;
        width: 50%;
        align-items: center;

    }
    p.prix{
        margin:unset;
    }
    .info h2{
        font-size: 10px;
        margin-top: 2em;
        width: 100%;

    }
}
